// Page header

#front-hero {
	padding: 0;

	background-color: $yellow;
	.marketing {
		@include grid-row();
	}

	.tagline {
		text-align: center;
		h1 {
			font-size: rem-calc(80);
			line-height: 1em;
			font-weight: 200;
			color: $blue;
			strong {
				color: $purple;
				font-weight: 900;
				text-transform: uppercase;
			}
			small {
				color: $blue;
				font-size: 60%;
			}
			.dance-showcase {
				color: $blue;
			}

			@include breakpoint (small) {
				font-size: rem-calc(50);
			}
			@include breakpoint (medium) {
				font-size: rem-calc(80);
			}
			@include breakpoint (large) {
				font-size: rem-calc(120);
			}
		} /* h1 */
		.subheader {
			color: $secondary-color;
			font-size: rem-calc(20);
			@include breakpoint (large) {
				font-size: rem-calc(35);
			}
		} /* subheader */
	}



}

.section-intro {
	text-align: center;
	h2 {
		font-weight: 700;
		margin-bottom: 1.5rem;
	}

	p {
		font-size: rem-calc(20);
		line-height: 1.6;
	}
}

@include breakpoint(small) {
	h2 {
		font-size: rem-calc(30);
	}
}

@include breakpoint(medium) {
	h2 {
		font-size: rem-calc(50);
	}
}


.cta {
	margin-top: rem-calc(60);
	line-height: 4!important;
}


// Intro

.home .show-intro {
	@include grid-row();
	background: $purple;
	color: $white;
	text-align: center;
	// display: block;
	max-width: 100%;
	margin: 0;
	.mbt-image {
		@include breakpoint(large) {
		    @include grid-column(5);
		}
		display: block;
		height: auto;
		background-size: cover;
		background-position: center;
	}
	.show-intro-contain {
		@include breakpoint(large) {
		    @include grid-column(7);
		}
		padding: 4em 0;
		h2 {
			color: $yellow;
			font-weight: 700;
			@include breakpoint(large){
				// font-size: 325%;
			}
		}
		.mbt-image p {
			@include breakpoint(small){
				padding: 0 0 rem-calc(40);
				margin: 0 -15px;
				width: 110%;
				text-align: center;
			}
		}
	}
}

.lead-sponsor {
	text-align: center;
	h2 {
		font-size: 1.5em;
		text-transform: uppercase;
	}
	img {
		margin-bottom: 2em;
	}
}

// Perform
.perform {
	text-align: center;
	background-color: $blue;
	color: $yellow;
	padding: 4em 0;
	.slick-slider {
		height: auto;
	}
	.perform-intro {
		h2 {
			font-weight: 900;
			@include breakpoint(large) {
			    font-size: 4em;
			}
		}
		.button {
			background-color: $purple;
		}
	}
}
.contain {
	// @include grid-row();
	padding: 2em;
}

.benefits {
	background-color: rgb(238, 169, 30);
	color: $white;
	text-align: center;
	@include grid-row();
	max-width: 100%;
	margin: 0;
	.benefits-bg {
		@include breakpoint(large) {
		    @include grid-column(4);
		}
		display: block;
		opacity: .5;
		background-size: cover;
		padding: 4em;
	}
	.benefits-intro {
		@include breakpoint(large) {
		    @include grid-column(8);
		    // text-align: left;
		    padding: 2em;
		    h2 {
		    	font-size: 5em;
		    }
		}
	}
}

// Raffle
.raffle-donors {
	text-align: center;
	padding: 4em 0;
	header {
		margin-bottom: 1em;
		padding: 2em 0;
	}
	ul {
		list-style: none;
		li {
			display: inline;
			font-size: 1.5em;
			font-weight: 700;
			padding: .75em;
			&:nth-child(2n) {
				a {
					color: darken($blue, 10%);
				}
			}
		}
	}
}

// Section divider
.section-divider {
	@include grid-row();
	hr {
		@include grid-column(12);
		@extend .dotted;
	}
}

