// Page header
#front-hero {
	.marketing {
		// @include grid-row();
		// max-width: 55rem;
	}

	@include breakpoint(small) {
		background-size: cover;
		background-position: bottom center;
		padding: rem-calc(65%) 0;
		// margin: 0 0 rem-calc(32);
		height: 500px;
		position: relative;
		text-align: left;
	}

	@include breakpoint(medium) {
		height: rem-calc(500);
		// margin: 0 0 rem-calc(72);
	}

	padding: 20px 10px;

	#watch {
		section {
			display: inline;
		}

		a {
			color: #B4C9D1;
			cursor: pointer;
			font-weight: 400;
			margin-right: rem-calc(20);
		}

		a:hover {
			color: #fff;
		}

		#stargazers {
			:before {
				content: "\f09b";
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-decoration: inherit;
				color: #B4C9D1;
				margin-right: rem-calc(8);
			}
		}

		#twitter {
			:before {
				content: "\f099";
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-decoration: inherit;
				color: #B4C9D1;
				margin-right: rem-calc(8);
			}
		}

	}

	.tagline {

		@media screen and (min-width: 320px) and (max-width: 640px) {
			@include grid-column(12);
		}

		@media screen and (min-width:641px) and (max-width: 870px) {
			@include grid-column(9);
		}

		@media screen and (min-width: 871px) {
			@include grid-column(5);
			// padding-top: 1rem;
			
		}
	}

	h1 {
		font-size: rem-calc(80);
		line-height: 1em;
		font-weight: 200;
		color: $blue;
		strong {
			color: $purple;
			font-weight: 900;
			text-transform: uppercase;
		}
		small {
			color: $blue;
			font-size: 60%;
		}
		.dance-showcase {
			color: $blue;
		}

		@include breakpoint (1200px) {
			font-size: rem-calc(80);
		}
		@include breakpoint (1620px) {
			font-size: rem-calc(100);
		}
		@include breakpoint (small) {
			font-size: rem-calc(70);
		}
	}

	.subheader {
		color: $secondary-color;
		font-size: rem-calc(20);
	}

}

.home section header {
	padding: rem-calc(100) rem-calc(50);
}

.section-intro {
	text-align: center;
	h2 {
		font-weight: 700;
		margin-bottom: 1.5rem;
	}

	p {
		font-size: rem-calc(20);
		line-height: 1.6;
	}
	@include breakpoint(small) {
		@include grid-column(12);
		h2 {
			font-size: rem-calc(30);
		}
	}

	@include breakpoint(medium) {
		@include grid-column(10);
		@include grid-column-offset(1);
		h2 {
			font-size: rem-calc(50);
		}
	}
}

.cta {
	margin-top: rem-calc(80);
}

// Intro
.intro {
	// @include grid-row();
	display: inline-block;
	
	background: $purple;
	color: $white;

	.section-intro {
		h2 {
			color: $yellow;
		}

	}
}

// Section divider
.section-divider {
	@include grid-row();

	hr {
		@include grid-column(12);
		@extend .dotted;
	}
}


// Benefits
.perform {
	@include grid-row();
	text-align: center;
	.section-intro {
		h2 {
			color: $blue;
		}
	}

}
