#footer-container {
	background: $blue;
	color: $white;
	max-width: 100%;
	width: 100%;
	// height: 200px;
	margin: 0 auto;
	border-top: 1px solid #ccc;
	// padding-top: rem-calc(60);


	#footer {
		@include grid-row();
		padding: rem-calc(30) 0;

		.footer-branding {
			text-align: center;
			.tagline {
				font-size: rem-calc(20);
				line-height: 1.2;
				text-align: center;
				strong {
				}
			}

			.date {
				font-size: rem-calc(25);
				color: $yellow;
				text-transform: uppercase;
			}
			.lead-sponsor-footer {
				img {
					border-radius: .5em;
				}
			}
		}
		
		.footer-nav {
			padding-top: rem-calc(20);
			display: none;
			border-left: solid 1px $yellow;
			@include breakpoint(large) {
				display: inherit;
			}
		}

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			li {
				display: block;
			}
			li a {
				color: $white;
			}
			.fa-facebook-square {
			  font-size: 215%;
			}
		}
		.benefiting {
			// padding-top: rem-calc(100);
			color: $white;
			text-align: center;
			text-transform: uppercase;
			.tds {
				padding-top: 30px;
				img {
					width: 165px;
				}
			}
			.sylvia {
				img {
					border-radius: .5em;
				}
			}
			.bellingham-dental {
				padding-bottom: 30px;
				img {
					width: 300px;
				}
			}
		}
	}
	.footer-credits-contain {
		background: $secondary-color;
	}
	.footer-credits {
		@include grid-row();
		// padding: rem-calc(10) 0 rem-calc(20);
		// text-align: center;
		height: 100%;
		p {
			color: $medium-gray;
		}
		a {
			color: $white;
		}
		.photo-credits {
			padding-top: 40px;
			position: relative;
			bottom: 0;
		}
		.design-credits {
			text-align: right;
			img {
				padding: 20px 0 0 15px;
				width: 200px;
			}
		}
		.fa-camera {
			font-size: 125%;
			position: relative;
			bottom: -1px;
			padding-right: 5px;
		}
	}
}
